.mainNav {
    background-color: #fff;
    height: 120px;
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
    li {
        cursor: pointer;
        a {
            margin-top: 20px;
            display: block;
            padding: 5px;
            text-transform: uppercase;
            font-family: Helvetica;
            color: #a55e3f;
            text-align: center;
        &:hover {
            color: #eaaa88;
        }

        }
    }
}
}
.current {
    font-weight: bold;
}
.menu-btn:hover {
    color: #d6c19c;
}
.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 20px;
    position: relative;
    user-select: none;
    margin-right: 20px;
}
.navicon {
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
    background: #d6c19c;

    &::before {
    top: 5px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    background: #d6c19c;
    } 

    &::after {
    top: -5px;
    background: #d6c19c;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    }
}
.menu-btn {
    display: none;
}
.menu-btn:checked ~ .menu {
    max-height: 240px;
}
.menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;

        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}