.portfolio {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    
}
.portfolio-project {
    margin: 15px 20px;
   
}
.portfolio-project img:hover {
    transform: scale(1.25);
}
.lightbox {
    position: absolute;
    top: 0;
    background:#789;
    display: none;
    width: 100%;
    height: 100%;

}

.show-lightbox {
    display: block;
    
}
.close-button {
    font-size: 2em;
    padding: 10px;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    cursor: pointer;
    color: #a55e3f;
}
.textProject {
    margin-left: 30px;
    h3 {
    text-transform: uppercase;
    color: #a55e3f;
    font-size: 25px;
    }
    p {
        width: 400px;
    }

}